<app-topo></app-topo>
<!--(metodo da classe ser executado) ="componente recebido pelo output($event)" -->
<!-- metodo será executado quando o evento for emitido -->
<div *ngIf="jogoemAndamento; else fimDeJogo">
    <!--Enviando atributo do filho para o pai-->
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<!-- estrutura não usa nenhum componente mas funciona como um template -->
<!-- Funciona como bloco de comando do else -->
<!-- o apontamento é feito pelo #fimDeJogo, assim quando jogoemAndamento
    for falso ele executa esse template
-->
<ng-template #fimDeJogo>
    <div *ngIf="encerramento == 'Derrota' else FimVitoria" class="container" style="margin-top: 50px; text-align: center;">
        <div class="row">
            <div class="col">
                <h3>Você perdeu T.T</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #FimVitoria>
<div class="container">
    <div class="row" style="margin-top: 50px; text-align: center;">
        <div class="col">
            <h3>Você Venceu, parabéns! :)</h3>
            <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar</button>
        </div>
    </div>
</div>

</ng-template>
